<p-blockui [blocked]="isLoading"></p-blockui>
<p-toolbar styleClass="mb-4">
    <ng-template #start styleClass="ml-6">
        <h5 class="m-0">{{ profile.libelle }}</h5>
    </ng-template>
    <ng-template #center>
        <h5 class="m-0">{{ profile.groupeResponse.libelle }}</h5>
    </ng-template>
    <ng-template #end styleClass="mr-6">
        <p-button
            [label]="profile.actif ? 'Actif' : 'Inactif'"
            [severity]="profile.actif ? 'success' : 'danger'"
            (click)="confirmActifAndDisactif(profile.id,profile.actif)"
        ></p-button>
    </ng-template>
</p-toolbar>
<p-tabs value="1">
    <p-tablist>
        <p-tab value="1">Modules</p-tab>
        <p-tab value="2">Roles</p-tab>
        <p-tab value="3">Authorities</p-tab>
    </p-tablist>
    <div class="p-1"></div>
    <p-tabpanels>
        <p-tabpanel value="1">
            <div class="card">
                <p-picklist
                    [source]="modulesExcludingModuleProfile"
                    [target]="moduleProfile"
                    [dragdrop]="true"
                    [responsive]="true"
                    [sourceStyle]="{ height: '30rem' }"
                    [targetStyle]="{ height: '30rem' }"
                    filterBy="moduleName"
                    sourceFilterPlaceholder="Search by name"
                    targetFilterPlaceholder="Search by name"
                    breakpoint="1400px"
                    scrollHeight="30rem"
                    sourceHeader="Available Modules"
                    targetHeader="Assigned Modules"
                    [trackBy]="trackModuleByFn"
                    (onMoveToTarget)="onMoveModuleToTarget($event)"
                    (onMoveToSource)="onMoveModuleToSource($event)"
                >
                    <ng-template pTemplate="sourceHeader">
                        <h5 class="text-center">Available Modules</h5>
                    </ng-template>

                    <ng-template pTemplate="targetHeader">
                        <h5 class="text-center">Assigned Modules</h5>
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-wrap p-1 items-center gap-4 w-full">
                            <div class="flex-1 flex flex-col">
                                <span class="font-medium text-sm">{{ item.moduleName }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-picklist>
            </div>
        </p-tabpanel>
        <p-tabpanel value="2">
            <div class="card">
                <p-picklist
                    [source]="modulesRolesExcludingProfileRole"
                    [target]="roleProfile"
                    [dragdrop]="true"
                    [responsive]="true"
                    [sourceStyle]="{ height: '30rem' }"
                    [targetStyle]="{ height: '30rem' }"
                    filterBy="libelle"
                    sourceFilterPlaceholder="Search by name"
                    targetFilterPlaceholder="Search by name"
                    breakpoint="1400px"
                    scrollHeight="30rem"
                    sourceHeader="Available Roles"
                    targetHeader="Assigned roles"
                    [trackBy]="trackRoleByFn"
                    (onMoveToTarget)="onMoveRoleToTarget($event)"
                    (onMoveToSource)="onMoveRoleToSource($event)"
                    (onMoveAllToTarget)="onMoveAllRoleToTarget($event)"
                    (onMoveAllToSource)="onMoveAllRoleToSource($event)"
                >
                    <ng-template pTemplate="sourceHeader">
                        <h5 class="text-center">Available Roles</h5>
                    </ng-template>

                    <ng-template pTemplate="targetHeader">
                        <h5 class="text-center">Assigned Roles</h5>
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-wrap p-1 items-center gap-4 w-full">
                            <div class="flex-1 flex flex-col">
                                <span class="font-medium text-sm">{{ item.libelle }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-picklist>
            </div>
        </p-tabpanel>
        <p-tabpanel value="3">
            <div class="card">
                <p-picklist
                    [source]="modulesAuthoritiesExcludingProfileAuthorities"
                    [target]="aythorityProfile"
                    [dragdrop]="true"
                    [responsive]="true"
                    [sourceStyle]="{ height: '30rem' }"
                    [targetStyle]="{ height: '30rem' }"
                    filterBy="libelle"
                    sourceFilterPlaceholder="Search by name"
                    targetFilterPlaceholder="Search by name"
                    breakpoint="1400px"
                    scrollHeight="30rem"
                    sourceHeader="Available Authorities"
                    targetHeader="Assigned Authorities"
                    [trackBy]="trackByFn"
                    (onMoveToTarget)="onMoveToTarget($event)"
                    (onMoveToSource)="onMoveToSource($event)"
                    (onMoveAllToTarget)="onMoveAllToTarget($event)"
                    (onMoveAllToSource)="onMoveAllToSource($event)"
                >
                    <ng-template pTemplate="sourceHeader">
                        <h5 class="text-center">Available Authorities</h5>
                    </ng-template>

                    <ng-template pTemplate="targetHeader">
                        <h5 class="text-center">Assigned Authorities</h5>
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-wrap p-1 items-center gap-4 w-full">
                            <div class="flex-1 flex flex-col">
                                <span class="font-medium text-sm">{{ item.libelle }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-picklist>
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
<p-dialog header="Confirmation" [(visible)]="displayActifConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>{{ messageConfirmation }}</span>
    </div>
    <ng-template #footer>
        <p-button label="{{ yesConfirmation }}" icon="pi pi-check" (click)="toggleProfileStatus()" severity="danger"
                  outlined autofocus />
        <p-button label="{{ noConfirmation }}" icon="pi pi-times" (click)="cancelActifDisactif()" text />
    </ng-template>
</p-dialog>
