<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" routerLink="/authoritys/create" />
        <p-button
            severity="secondary"
            label="Delete"
            icon="pi pi-trash"
            outlined
            (onClick)="deleteSelectedAuthorities()"
            [disabled]="!selectedAuthorities || selectedAuthorities.length === 0"
        />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="authoritys"
    [rows]="rows"
    [lazy]="true"
    [paginator]="true"
    [loading]="isLoading"
    (onFilter)="onFilter($event)"
    [totalRecords]="totalRecords"
    paginatorDropdownAppendTo="body"
    [rowsPerPageOptions]="[10,15,25]"
    (onLazyLoad)="onPageChange($event)"
    dataKey="id"
    selectionMode="multiple"
    [(selection)]="selectedAuthorities"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Authorities</h5>
            <p-iconfield class="search-container">
                <p-inputicon styleClass="pi pi-search search-icon" />
                <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..."
                       class="search-input" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="libelle" style="min-width: 10rem">
                <div class="flex justify-between items-center">
                    Libelle
                    <p-sortIcon field="libelle" />
                    <p-columnFilter type="text" field="libelle" display="menu" class="ml-auto" />
                </div>
            </th>
            <th pSortableColumn="module" style="min-width: 10rem">
                <div class="flex justify-between items-center">
                    Module
                    <p-sortIcon field="module" />
                    <p-columnFilter type="text" field="module.moduleName" display="menu" class="ml-auto" />
                </div>
            </th>
            <th pSortableColumn="authorityType" style="min-width: 10rem">
                <div class="flex justify-between items-center">
                    Authority type
                    <p-sortIcon field="authorityType" />
                    <p-columnFilter type="text" field="authorityType.libelle" display="menu" class="ml-auto" />
                </div>
            </th>
            <th pSortableColumn="active">Status
                <p-sortIcon field="active"></p-sortIcon>
            </th>
            <th style="max-width: 6rem">Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-authority>
        <tr>
            <td>
                <p-tableCheckbox [value]="authority"></p-tableCheckbox>
            </td>
            <td>{{ authority.libelle }}</td>
            <td>{{ authority.module.moduleName }}</td>
            <td>{{ authority.authorityType.libelle }}</td>
            <td>
                <p-button
                    [label]="authority.actif ? 'Actif' : 'Inactif'"
                    [severity]="authority.actif ? 'success' : 'danger'"
                    (click)="confirmActifAndDisactif(authority.id,authority.actif)"
                ></p-button>
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" outlined
                          (click)="updateAuthority(authority.id) ;$event.stopPropagation()" />
                <p-button icon="pi pi-trash" severity="danger" outlined
                          (click)="confirmDelete(authority.id) ;$event.stopPropagation()" />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>Are you sure you want to delete this Authority?</span>
    </div>
    <ng-template #footer>
        <p-button label="Delete" icon="pi pi-check" (click)="deleteAuthority()" severity="danger" outlined autofocus />
        <p-button label="Cancel" icon="pi pi-times" (click)="cancelDelete()" text />
    </ng-template>
</p-dialog>

<p-dialog header="Confirmation" [(visible)]="displayActifConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>{{messageConfirmation}}</span>
    </div>
    <ng-template #footer>
        <p-button label="{{yesConfirmation}}" icon="pi pi-check" (click)="toggleAuthorityStatus()" severity="danger" outlined autofocus />
        <p-button label="{{noConfirmation}}" icon="pi pi-times" (click)="cancelActifDisactif()" text />
    </ng-template>
</p-dialog>

<p-dialog header="Confirmation" [(visible)]="displayDeleteSelectedConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>Are you sure you want to delete the selected Authorities?</span>
    </div>
    <ng-template #footer>
        <p-button label="Delete" icon="pi pi-check" (click)="deleteSelectedUsersConfirmed()" severity="danger" outlined autofocus />
        <p-button label="Cancel" icon="pi pi-times" (click)="cancelDeleteSelected()" text />
    </ng-template>
</p-dialog>


